In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dt=pd.read_csv("C:/Users/yako_/Downloads/ENB2012_data.csv")
dt.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [3]:
dt.columns=["Relative Compactness","Surface Area","Wall Area","Roof Area","Overall Height",
            "Orientation","Glazing Area","Glazing Area Distribution","Heating Load","Cooling Load"]

In [4]:
dt.head()

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Orientation,Glazing Area,Glazing Area Distribution,Heating Load,Cooling Load
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28

In [5]:
dt.isnull().sum()

Relative Compactness         0
Surface Area                 0
Wall Area                    0
Roof Area                    0
Overall Height               0
Orientation                  0
Glazing Area                 0
Glazing Area Distribution    0
Heating Load                 0
Cooling Load                 0
dtype: int64

In [7]:
dt.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Relative Compactness,768.0,0.764167,0.105777,0.62,0.6825,0.75,0.8300,0.98
Surface Area,768.0,671.708333,88.086116,514.50,606.3750,673.75,741.1250,808.50
Wall Area,768.0,318.500000,43.626481,245.00,294.0000,318.50,343.0000,416.50
Roof Area,768.0,176.604167,45.165950,110.25,140.8750,183.75,220.5000,220.50
Overall Height,768.0,5.250000,1.751140,3.50,3.5000,5.25,7.0000,7.00
Orientation,768.0,3.500000,1.118763,2.00,2.7500,3.50,4.2500,5.00
Glazing Area,768.0,0.234375,0.133221,0.00,0.1000,0.25,0.4000,0.40
Glazing Area Distribution,768.0,2.812500,1.550960,0.00,1.7500,3.00,4.0000,5.00
Heating Load,768.0,22.307201,10.090196,6.01,12.9925,18.95,31.6675,43.10
Cooling Load,768.0,24.587760,9.513306,10.90,15.6200,22.08,33.1325,48.03

In [8]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Relative Compactness       768 non-null    float64
 1   Surface Area               768 non-null    float64
 2   Wall Area                  768 non-null    float64
 3   Roof Area                  768 non-null    float64
 4   Overall Height             768 non-null    float64
 5   Orientation                768 non-null    int64
 6   Glazing Area               768 non-null    float64
 7   Glazing Area Distribution  768 non-null    int64
 8   Heating Load               768 non-null    float64
 9   Cooling Load               768 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 60.1 KB

In [32]:
from sklearn.model_selection import train_test_split

X=dt.iloc[:,:-2].values
y=dt.iloc[:,-2:].values

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [33]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((614, 8), (154, 8), (614, 2), (154, 2))

In [18]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

y_train=sc.fit_transform(y_train)
y_test=sc.fit_transform(y_test)

In [35]:
y_train,y_test

(array([[23.53, 27.31],
        [18.9 , 22.09],
        [29.27, 29.9 ],
        ...,
        [10.67, 14.26],
        [28.62, 30.12],
        [28.83, 29.36]]),
 array([[16.47, 16.9 ],
        [13.17, 16.39],
        [32.82, 32.78],
        [41.32, 46.23],
        [16.69, 19.76],
        [23.8 , 24.61],
        [24.31, 25.63],
        [28.67, 29.62],
        [19.52, 22.72],
        [28.07, 34.14],
        [18.46, 21.53],
        [33.08, 34.11],
        [29.79, 29.92],
        [10.37, 13.44],
        [17.69, 20.82],
        [36.95, 36.87],
        [36.64, 37.01],
        [12.3 , 15.24],
        [14.7 , 16.77],
        [32.38, 33.62],
        [28.67, 32.43],
        [41.4 , 45.29],
        [11.7 , 13.88],
        [36.86, 34.25],
        [15.37, 19.18],
        [35.89, 43.3 ],
        [36.57, 35.39],
        [28.91, 29.64],
        [17.5 , 21.13],
        [13.99, 14.35],
        [10.42, 13.39],
        [12.3 , 15.44],
        [16.93, 20.03],
        [26.84, 30.17],
        [35.94, 43.33],
        [28.18, 30.18],
        [32.72, 33.78],
        [36.9 , 34.43],
        [36.06, 34.94],
        [10.7 , 13.87],
        [28.15, 30.  ],
        [12.32, 14.92],
        [ 6.37, 11.29],
        [31.84, 31.6 ],
        [ 6.79, 12.05],
        [ 6.4 , 11.67],
        [ 7.1 , 12.14],
        [10.8 , 14.28],
        [28.66, 34.73],
        [32.46, 35.62],
        [34.95, 35.04],
        [12.93, 15.83],
        [13.  , 15.87],
        [40.12, 37.26],
        [12.27, 14.97],
        [15.32, 19.42],
        [12.45, 15.1 ],
        [24.6 , 29.31],
        [40.68, 40.36],
        [35.99, 36.07],
        [14.37, 16.54],
        [16.54, 16.88],
        [13.02, 16.06],
        [22.89, 28.88],
        [28.61, 30.2 ],
        [37.1 , 35.29],
        [35.45, 41.86],
        [11.68, 13.9 ],
        [13.  , 14.47],
        [12.03, 13.79],
        [29.14, 29.58],
        [32.84, 32.88],
        [12.47, 15.14],
        [24.23, 25.02],
        [31.64, 36.86],
        [12.16, 15.18],
        [29.06, 33.84],
        [24.7 , 28.77],
        [32.26, 33.37],
        [19.34, 23.49],
        [24.38, 25.91],
        [40.  , 36.26],
        [10.68, 14.3 ],
        [13.91, 14.89],
        [11.6 , 13.7 ],
        [12.43, 15.59],
        [26.46, 27.4 ],
        [36.13, 37.58],
        [37.12, 35.28],
        [17.37, 21.08],
        [15.18, 19.34],
        [25.38, 26.72],
        [11.13, 14.61],
        [12.95, 15.95],
        [36.59, 36.44],
        [12.86, 16.17],
        [25.36, 32.04],
        [28.31, 34.15],
        [10.66, 13.67],
        [10.71, 13.8 ],
        [40.78, 39.55],
        [28.37, 29.28],
        [10.36, 13.43],
        [29.83, 29.82],
        [29.43, 28.38],
        [16.76, 17.36],
        [22.58, 28.51],
        [16.44, 17.1 ],
        [14.08, 17.02],
        [12.41, 15.28],
        [33.12, 34.17],
        [32.31, 29.69],
        [24.63, 26.37],
        [14.72, 18.1 ],
        [11.69, 14.76],
        [14.66, 17.37],
        [11.2 , 14.73],
        [10.39, 13.6 ],
        [12.12, 14.97],
        [19.68, 29.6 ],
        [29.06, 29.34],
        [11.16, 14.39],
        [23.93, 29.4 ],
        [14.6 , 15.3 ],
        [29.68, 29.44],
        [17.88, 21.4 ],
        [14.53, 16.9 ],
        [35.48, 41.26],
        [24.23, 25.72],
        [39.97, 40.85],
        [15.55, 21.33],
        [32.31, 34.05],
        [14.6 , 15.14],
        [13.97, 16.08],
        [14.4 , 17.27],
        [19.  , 22.25],
        [32.06, 35.71],
        [42.96, 39.56],
        [14.5 , 17.03],
        [18.88, 22.07],
        [10.75, 14.27],
        [40.6 , 39.85],
        [28.55, 29.59],
        [31.53, 37.19],
        [35.73, 39.92],
        [11.42, 14.75],
        [10.07, 13.21],
        [28.09, 34.33],
        [35.01, 33.14],
        [38.98, 45.97],
        [36.66, 35.92],
        [29.34, 33.37],
        [29.54, 33.98],
        [12.17, 15.2 ]]))

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor


models = []
models.append(('RandomForestRegression', RandomForestRegressor()))
models.append(('Decision Tree ',DecisionTreeRegressor())) 
models.append(('Linear Regression', LinearRegression()))


for name, model in models:
    model = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    from sklearn.metrics import r2_score
    from sklearn.metrics import mean_squared_error

    r2_score_lr = r2_score(y_pred,y_test)
    print("R2",name,r2_score_lr)
    mse_lr = mean_squared_error(y_test, y_pred)
    print("Mean squared",name,mse_lr)

R2 RandomForestRegression 0.9782451424007602
Mean squared RandomForestRegression 1.973571230584418
R2 Decision Tree  0.9682878025076362
Mean squared Decision Tree  2.872097727272727
R2 Linear Regression 0.8895225358152856
Mean squared Linear Regression 9.507572057223644

In [59]:
rf=RandomForestRegressor(max_depth=10,n_estimators=100,max_features=0.3,max_samples=0.7)

rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)

r2_score_lr = r2_score(y_pred,y_test)
print("R2",name,r2_score_lr)
mse_lr = mean_squared_error(y_test, y_pred)
print("Mean squared",name,mse_lr)

R2 Linear Regression 0.9818907449564096
Mean squared Linear Regression 1.6337535311596207